/* App.css */
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Styles */
.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

main {
  padding: 10px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px;
  background-color: #fff;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
}

button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button.google-sign-in {
  margin-bottom: 10px;
}

button.normal-sign-in {
  margin-bottom: 10px; /* Adjust vertical spacing */
  width: auto;
  /* Example: */
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}

button.sign-out {
  margin-left: 20px;
}

p {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.message {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #f1f1f1;
  max-width: 60%;
}

.message.sent {
  margin-left: auto;
  background-color: #dcf8c6;
}

.message.received {
  margin-right: auto;
  background-color: #ffffff;
}

.message img {
  border-radius: 50%;
  margin-right: 100px;
  width: 40px;
  height: 40px;
}

.message.sent img {
  margin-right: 15;
  margin-left: 15px;
}

.message p {
  margin: 0;
  word-wrap: break-word;
  text-decoration: none;
}
